doctype html
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible" content="ie=edge")
            title DevCloud-Code Together!
            link(rel="shortcut icon" href="img/Favicon.png" type="image/x-icon")
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
            link(href="css/bootstrap.min.css" rel="stylesheet")
            link(href="css/mdb.min.css" rel="stylesheet")
            link(rel="stylesheet" href="css/estilos.css")
            link(href="css/style.min.css" rel="stylesheet")
            link(rel="stylesheet" href="css/perfil.css")
            style.
                @media (min-width: 800px) and (max-width: 850px) {
                    .navbar:not(.top-nav-collapse) {
                        background: #1C2331 !important;
                    }
                }
    body(style="background-color: #153a6178 !important;")
        header
            block navbar
                nav.navbar.fixed-top.navbar-expand-lg.navbar-light.scrolling-navbar.navbar-dark(style="background-color: #053748")
                    div.container-fluid
                        a.navbar-brand.waves-effect(href="/")
                            strong.blue-text DEVCLOUD

                        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                            span.navbar-toggler-icon

                        div.collapse.navbar-collapse#navbarSupportedContent

                            block links


                                
                                

                            ul.navbar-nav.nav-flex-icons
                                li.nav-item
                                    a(href="/logout" class="nav-link waves-effect") Cerrar sesión
                                        i.fa.fa-sign-out.ml-1
            block sidebar
                    div.sidebar-fixed.position-fixed(style="background-color: #144a5d")
                        a.logo-wrapper.waves-effect(href="/")
                            img(src="img/Logo.png" height="80")

                        div.list-group.list-group-flush.wow.fadeIn
                            a(href="#" class="list-group-item list-group-item-action active waves-effect") 
                                i.fa.fa-pie-chart.mr-3 
                                span Dashboard
                            a(href="#" class="list-group-item list-group-item-action waves-effect")
                                i.fa.fa-user.mr-4 
                                span Perfil

        main.pt-5.mx-lg-5
            div.container-fluid.mt-5
                block contenido
    block scripts   




