extends layout
block links
    ul.navbar-nav.mr-auto
        li.nav-item
            a.nav-link.waves-effect(href="/dashboard") 
                i.fa.fa-home.ml-1
                span Inicio
        li.nav-item.active
            a.nav-link.waves-effect(href="/perfil")
                i.fa.fa-user.ml-1
                span Perfil
block contenido
    if (message && message.length > 0) 
        div.alert.alert-success.alert-dismissible.fade.show#contenedor-mensaje(style = "display:none;" role="alert") #{message}, #{nombreUsuario}!
            button.close(type="button" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;


    div.card.mb-4.wow.fadeIn
        div.card-body.d-sm-flex.justify-content-between
            h3.mb-2.mb-sm-0.pt-1 Perfil de usuario
    div#actualizado.alert.alert-success.alert-dismissible.fade.show(style='display:none;' role='alert') Usuario actualizado correctamente
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
    div#planActualizado.alert.alert-success.alert-dismissible.fade.show(style='display:none;' role='alert') Plan actualizado correctamente
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;
    div.row.wow.fadeIn
        div.col-md-6.mb-4
            div.card
                div.card-body
                    h4(style="text-align:center;" id="nombreApellido") 
                    hr
                    ul.list-group-flush(style="padding-left: 5px;")
                        li.list-group-item
                            p.mb-0
                            i.fa.fa-user.fa-2x.mr-2.blue.p-3.white-text.rounded 
                            span.cb-perfil Alias:
                            span.el-perfil#alias(style="margin-left: -1rem;") 

                        li.list-group-item
                            p.mb-0
                            i.fa.fa-at.fa-2x.mr-2.p-3.white-text.rounded.red
                            span.cb-perfil Correo:
                            span.el-perfil#correo(style="margin-left: -2.3rem;") 
                        li.list-group-item
                            p.mb-0
                            i.fa.fa-database.fa-2x.mr-2.p-3.white-text.rounded(style="background-color: #144a5d !important;")
                            span.cb-perfil Plan:
                            span.el-perfil#plan(style="margin-left: -0.7rem;") 
                            button.btn.btn-primary.waves-effect.waves-light(type='button' data-toggle="modal" data-target="#editarPlan") Actualizar plan
                div.card-footer(style="text-align: center;")
                    button.btn.btn-primary.waves-effect.waves-light(type="button" data-toggle="modal" data-target="#centralModalInfo") Editar
        div.card.-md-6-md-4 
            div.card-body
                div.list-group.list-group-flush
                    a.list-group-itemlist-group-item-action.waves-effect Proyectos
                        span.badge.badge-success.badge-pill.pull-right 3

    div.modal.fade#centralModalInfo(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        div.modal-dialog.modal-notify.modal-info(role="document")
            div.modal-content
                div.modal-header
                    p.heading.lead#tituloModal
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span.white-text(aria-hidden="true") &times;
                div.modal-body
                    div.text-center
                        i.fa.fa-edit.fa-4x.mb-3.animated.rotateIn
                        form
                            div.mb-5
                                i.fa.fa-user-circle.prefix.grey-text
                                label(for="nuevoAlias") Alias
                                input.form-control#nuevoAlias(name="alias" type="text")
                            div.mb-5
                                i.fa.fa-envelope.prefix.grey-text
                                label(data-error="Correo electr칩nico inv치lido" data-success="Correcto" for="nuevoCorreo") Correo electr칩nico
                                input.form-control.correo#nuevoCorreo(name="correo" type="email")
                                                              
                div.modal-footer.justify-content-center
                    a.btn.btn-primary(type="button" id="Actualizar" data-dismiss="modal") Guardar
    div.modal.fade#editarPlan(tabindex="-1" role="dialog" aria-labelledby="editarPlanlLabel" aria-hidden="true")
        div.modal-dialog.modal-notify.modal-info(role="document")
            div.modal-content
                div.modal-header
                    p.heading.lead#tituloModal
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span.white-text(aria-hidden="true") &times;
                div.modal-body
                    div.text-center
                        i.fa.fa-edit.fa-4x.mb-3.animated.rotateIn
                        form
                            div.md-form.mb-5
                                h6(style="text-align:center") Seleccione un plan
                                select.browser-default.custom-select(id='nuevoPlan')
                                    option(selected value = "1") Gratis
                                    option(value = "2") B치sico
                                    option(value = "3") Avanzado                                             
                div.modal-footer.justify-content-center
                    a.btn.btn-primary(type="button" id="actualizarPlan" data-dismiss="modal") Guardar

block scripts   
    script(type="text/javascript" src="js/jquery-3.3.1.min.js")
    script(type="text/javascript" src="js/bootstrap.min.js")
    script(type="text/javascript" src="js/mdb.min.js")
    script(type="text/javascript" src="js/activar.js")
    script(type="text/javascript" src="js/perfil.js")
    script(type="text/javascript" src="js/validaciones.js")
                            
                            

                            


