#contenedor-formulario {
    background-color: #31518a2e;
    padding: 14px 7px 10px 10px;
    height: 66px;
}

.titulo-slide{
    font-size: 4.5rem !important;
}

.slogan-slide{
    font-size: 2.5rem !important;
}

.texto-slide{
    font-size: 1.5rem !important;
}

.titulo-seccion{
    font-size: 3rem;
}

.descripcion-seccion{
    font-size: 1.5rem;
}

#texto-registrarse{
    color: antiquewhite;
}

#formulario-login .form-control{
    font-size: 0.75em;
}

.btn{
    padding: 0.60rem 1rem;
    font-size: .70rem;
}

.btn-primary {
    background-color: #19647e!important;
    color: #fff!important;
}

.btn-primary:hover {
    background-color: #2f5d6d !important;
}


.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #19647e !important;
    border-color: #314c69;
}
#text-registrarse {
    position: relative;
    left: 43px;
    font-size: 1.3em !important;
}

#text-registrarse:hover {
    color: #439dff !important;
    text-decoration: underline;
}

.icono{
    width: 100px;
}

section {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.plan-header{
    text-align: center;
    padding: 20px 15px 0;
    /*border-radius: 6px;
    border: #202e4c;
    border-style: double;*/
    color: #19647e
}

.plan-header h2 {
    margin: 0 0 20px;
    font-size: 40px;
    line-height: 30px;
}

.precio{
    margin: 0 0 20px;
}

.moneda{
    font-size: 20px;
    line-height: 20px;
    top: -10px;
    position: relative;
}

.plan-header .precio span {
    font-size: 45px;
    line-height: 45px;
    margin: 0 5px;
}

.tiempo{
    font-size: 15px;
    line-height: 15px;
    top: -15px;
    position: relative;
}

.divisor-plan{
    margin-bottom: 0;
    color: #0095eb;
    background: #0095eb;
}

.descripcion-plan{
    padding: 10px 30px;
    text-align: center;
}


.descripcion-plan ul {
    margin: 0;
    font-size: 100%;
    line-height: normal;
    list-style: none outside;

}

.card .card-body .card-text {
    font-size: 1.1rem !important;
}


@media (min-width: 576px) and (max-width: 1099px){
.mr-sm-2, .mx-sm-2 {
    margin-right: .1rem!important;
}
.btn {
    font-size: .60rem;
    padding: 0.50rem 0.5rem;
}
#formulario-login .form-control {
    font-size: 0.56em;
}
}