#contenedor-formulario {
    background-color: #31518a2e;
    padding: 14px 7px 10px 10px;
    height: 66px;
}

.contenedor-formulario-login {
    background-color: rgba(0, 0, 0, 0.62);
    color: #ffffff;
    width: 497px;
    height: 320px;
    border-radius: 8px;
    padding: 3rem 4rem 3rem 4rem;
    margin-left: auto;
    margin-right: auto;
}

.text-sesion {
    position: relative;
    left: 6px;
    font-size: 1.3em !important;
}

.contenedor-formulario-registro{
    background-color: rgba(0, 0, 0, 0.62);
    color: #ffffff;
    width: 497px;
    height: 850px;
    border-radius: 8px;
    padding: 1rem 4rem 3rem 4rem;
    margin-left: auto;
    margin-right: auto;
}

.modal-dialog.modal-notify.modal-info .modal-header {
    background-color: #195c73 !important;
}

.modal-dialog.modal-notify.modal-info .fa {
    color: #117b82 !important;
}

.badge {
    font-size: 100% !important;
    margin-left: 1rem !important;
}

.divisor{
    width: 14rem;
    background-color: #3a83c3;
}

.texto-tarjeta{
    font-size: 1rem !important;
    color: antiquewhite;
}

.titulo-tarjeta{
    text-align: center;
    color: floralwhite;
}

.cuerpo-tarjeta{
    background-color: #17406d !important;
}

.divisor-tarjeta{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: #6ca9e7;
}

.card .activator {
    position: absolute;
    right: 0;
    font-size: 1.2rem;
}





.titulo-slide{
    font-size: 4.5rem !important;
}

.slogan-slide{
    font-size: 2.5rem !important;
}

.texto-slide{
    font-size: 1.5rem !important;
}

.titulo-seccion{
    font-size: 3rem;
}

.descripcion-seccion{
    font-size: 1.5rem;
}

#texto-registrarse{
    color: antiquewhite;
}

#formulario-login .form-control{
    font-size: 0.75em;
}

.btn{
    padding: 0.60rem 1rem;
    font-size: .70rem;
}

.btn-primary {
    background-color: #19647e!important;
    color: #fff!important;
}

.btn-primary:hover {
    background-color: #2f5d6d !important;
}


.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #19647e !important;
    border-color: #314c69;
}
.text-registrarse {
    position: relative;
    left: 43px;
    font-size: 1.3em !important;
}

.text-registrarse:hover {
    color: #439dff !important;
    text-decoration: underline;
}

.icono{
    width: 100px;
}

section {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.plan-header{
    text-align: center;
    padding: 20px 15px 0;
    /*border-radius: 6px;
    border: #202e4c;
    border-style: double;*/
    color: #19647e
}

.plan-header h2 {
    margin: 0 0 20px;
    font-size: 40px;
    line-height: 30px;
}

.precio{
    margin: 0 0 20px;
}

.moneda{
    font-size: 20px;
    line-height: 20px;
    top: -10px;
    position: relative;
}

.plan-header .precio span {
    font-size: 45px;
    line-height: 45px;
    margin: 0 5px;
}

.tiempo{
    font-size: 15px;
    line-height: 15px;
    top: -15px;
    position: relative;
}

.divisor-plan{
    margin-bottom: 0;
    color: #0095eb;
    background: #0095eb;
}

.descripcion-plan{
    padding: 10px 30px;
    text-align: center;
}


.descripcion-plan ul {
    margin: 0;
    font-size: 100%;
    line-height: normal;
    list-style: none outside;

}

.card .card-body .card-text {
    font-size: 1.1rem !important;
}

.separador-footer{
    background-color: #7ba0e2!important;
    width: 60px;
}

.email-invalido {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.cb-perfil{
    font-size: 1.3rem;
    margin-right: 2.8rem;
    font-weight: bold;
}

.el-perfil{
    font-size: 1.2rem;
}

@media (min-width: 576px) and (max-width: 1099px){
.mr-sm-2, .mx-sm-2 {
    margin-right: .1rem!important;
}
.btn {
    font-size: .60rem;
    padding: 0.50rem 0.5rem;
}
#formulario-login .form-control {
    font-size: 0.56em;
}
}